body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Nav Section */
.header{
    background-color:  #FFF8F3;
    background-image: url('./images/header_bg.png'),url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:  #474747;
    font-size: 20px;
    font-weight: 400;
}

.nav-heading{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    
}
span{
   color: #FD6E0A;
}
.button{
    width: 180px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    color:  #FFF;
    font-size: 20px;
    font-weight: 700;
}
.button:hover{
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}
.contact:hover{
    background-color: #FD6E0A;
    color:  #FFF;
    border: 1px solid #FFF8F3;
}
.contact{
    background-color: #FFF8F3;
    color: #FD6E0A;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    margin-left: 5px;
}
.nav-img{
    width: 600px;
    height: 600px;
}
.nav-banner{
    display: flex;
    padding: 50px 30px 0 150px ;
    align-items: center;
}
.banner-greeting{
    color:  #474747;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;

}
.banner-heading{
    color:  #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 0;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

/* Main Section */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* 
 1st Part 
*/

.about-container{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 140px;
    text-align: center;
    margin: 130px 0;
}
.about-heading{
    font-size: 35px;
    font-weight: 700;
    text-decoration: underline;
}
.about-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}
.about-container-info{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.about-container-info h4{
    font-size: 20px;
    padding: 5px;
}
.about-container-info p{
    font-size: 15px;
    padding-bottom: 0px;
}

/* 
 2nd Part 
*/

.skills-container{
    text-align: center;
}
.skills-container h1{
    font-size: 35px;
    font-weight: 700;
    text-decoration: underline;
}
.skills-container p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.item-list{
    width: 267px;
    height: 377px;
    text-align: center;
    box-shadow: 10px 10px 20px gray;
    padding-top: 32px;
    padding-bottom: 0px;
    border-radius: 5px;
}
.skills-item{
   display: flex; 
   justify-content: space-around;
   margin-top: 50px;
   align-items: center;
   padding-top: 32px;
  
}
.item-list h3{
    font-size: 28px;
    font-weight: 700;
    color: black;
    text-decoration: underline;
}
.item-list p{
    color:  #757575;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
}

/*
 3rd Part
*/

.resume-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    
}
.resume-tittle{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 160px;
    text-decoration: underline;
}
.resume-column-1 ,.resume-column-2{
    padding: 20px;
}
hr{
    margin: 30px;
}
.resume-container h2{
    color: #474747;
    font-size: 30px;
    font-weight: 700;   
}
.resume-container h3{
    color: #474747;
   font-size: 25px;
   font-weight: 700;    
}
.resume-container h4{
    color:  #757575;
    font-size: 20px;
    font-weight: 600;

}
.resume-container p{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
}
.CV{
    text-align: center;
}

/*
 Footer Part
*/
footer{
    background-color: #FFF8F3;
    display: flex;
    justify-content: space-around;
    padding: 130px 230px 130px 230px;
    margin-top: 113px;
}
footer input,textarea{
    margin: 10px;
    border: none;
    padding: 20px;
    width: 500px;
}
footer h2{
    color: #181818;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
footer p{
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;

}
footer a{
    font-size: 30px;
    margin-right: 20px;
    margin-top: 20px;
}
.footer-item{
    width: 50%;
}

    